<h1>Report Your Hours</h1>
<div class="divTable paleBlueRows">

  <div class="divTableHeading">
    <div class="divTableRow">
      <div class="divTableHead"></div>
      <div class="divTableHead">Client</div>
      <div class="divTableHead">Attorney</div>
      <div class="divTableHead">Organization</div>
      <div class="divTableHead">Hours spent on case</div>
      <div class="divTableHead">Billing rate (hr)</div>
      <div class="divTableHead"></div>
    </div>
  </div>

  <div class="divTableBody">
    <% @cases.each do |_case| %> 
      <%= render "inline_form",
        case: _case,
        id: _case.id,
        cn: _case.client.clientname, 
        f: _case.attorney.firm, 
        an: _case.attorney.name, 
        hv: _case.report.hours_volunteered, 
        br: _case.attorney.bill_rate_hr %>
    <% end %>
  </div>
</div>
